@import url("https://fonts.googleapis.com/css2?family= Urbanist :wght@600 & display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  background-image: url("assets/bg-pc.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 801px) {
  body {
    background-image: url("assets/bg-pc.png");
    background-size: 1920px;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-image: url("assets/cell3.png");
    background-size: 900px;
  }
}

img {
  width: 300px;
  border-radius: 5px;
}
.container {
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  margin: 150px auto;
  width: 325px;
  height: 600px;
  background: white;
  box-shadow: 5px 5px 5px black;
}

.containerContent {
  margin-top: 30px;
}
.text {
  font-weight: 300;
}
.button {
  margin: 30px auto;
  background: pink;
  padding: 10px;
  border-radius: 20px;
}

.button:hover {
  font-size: 15px;
  cursor: pointer;
}
.title {
  padding: 15px;
  background: pink;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
